<template></template>

<script lang="ts">
import Vue from 'vue'
import {Pipeline} from "@/interfaces";

export default Vue.extend({
  name: 'Favicon',
  props: {
    pipelines: {
      type: Array,
      default: () => [],
    },
  },
  watch: {
    pipelines: function (pipelines: Pipeline[]) {
      if (pipelines.length == 0) {
        return
      }


      const status = {
        failed: 0,
        running: 0,
      }

      for (const pipeline of pipelines) {
        const details = pipeline.details;

        switch (details.status) {
          case "failed":
            status.failed++;
            break;
          case "running":
            status.running++;
            break;
        }
      }

      // based on: https://medium.com/@alperen.talaslioglu/building-dynamic-favicon-with-javascript-223ad7999661
      const favicon = document.getElementById('favicon') as HTMLLinkElement
      const faviconSize = 256

      const img = document.createElement('img') as HTMLImageElement
      img.src = favicon.href

      const showNoIndicator = (status.failed + status.running) === 0
      if (showNoIndicator) {
        favicon.href = document.location.href + '/favicon.png'
        return
      }

      img.onload = () => {
        const colors = {
          fail: '#FF0000',
          active: '#0040ff',
        }
        const count = status.failed > 0 ? status.failed : status.running
        const color = status.failed > 0 ? colors.fail : colors.active


        const canvas = document.createElement('canvas') as HTMLCanvasElement
        canvas.width = faviconSize
        canvas.height = faviconSize

        const context = canvas.getContext('2d') as CanvasRenderingContext2D
        // Draw Original Favicon as Background
        context.drawImage(img, 0, 0, faviconSize, faviconSize)

        // Draw Notification Circle
        context.beginPath()
        context.arc(canvas.width - faviconSize / 3, faviconSize / 3, faviconSize / 3, 0, 2 * Math.PI)
        context.fillStyle = color
        context.fill()

        // Draw Notification Number
        context.font = (faviconSize / 16) + 'em "helvetica", sans-serif'
        context.textAlign = 'center'
        context.textBaseline = 'middle'
        context.fillStyle = '#FFFFFF'
        context.fillText(count + "", canvas.width - faviconSize / 3, faviconSize / 3)

        // Replace favicon
        favicon.href = canvas.toDataURL('image/png')
      }
    }
    ,
  },
})

</script>

<style scoped></style>
